<form class="task-form form-horizontal no-margins" method="post" accept-charset="utf-8" id="copy_modal">
    <div class="modal-header">
        <button type="button" class="close" title="Close" data-dismiss="modal">&times;</button>
        <h3><%_MenuDetail%></h3>
    </div>
    <p class="errors"></p>

    <div class="modal-body">
          
            <%= menus %>
          
    </div>

    <div class="modal-footer">
      <a href="#" class="btn" title="Close" data-dismiss="modal"><%_Cancel%></a>
 
    </div>
</form>
