@white: #ffffff;
@black: #111111;

@gray: #808080;
@darkgray: #DCDBDC;
@dimgray: #696969;
@evil: #35B0F0;
@evilHover: #FFF;
@evilDisabled: #03406A;

/*@evil: #A3C04B;
@evilDisabled: #97BE53;
*/
@green: #008000;
@red: #FF0000;