
<div class="name pull-left" style="height:70px !important; width:105px">
	<h4 style="margin-top:15px"><%- model.get('IP') %>
	</h4>
	<span class="bold ServerType"><%- this.diskInternalType %></span>
</div>
	<div id="server-<%- model.get('ID') %>" class="select pull-right"></div>



<div class="description pull-left hide">
  <dl>
    <dt><%_Type%></dt>
    <dd><%- Type %></dd>

    <dt><%_Port%></dt>
    <dd><%- model.get("Port") %></dd>

      <dt><%_BaseDisk%></dt>
      <dd>
          <ul>
              <%= model.get('aBaseDisk')%>
          </ul>
      </dd>
      <dt><%_Export%></dt>
      <dd>
          <ul>
               <%= model.get("aExport") %>
          </ul>
      </dd>

      <dt><%_Storage%></dt>
      <dd>
          <ul>
              <%= model.get("aStorage") %>
          </ul>
      </dd>

  </dl>
</div>
