    <!-- actions -->
    <div class="container-fluid min_width">
        <div class="row-fluid">
            <div class="container">
            
                <div id="actions" class="navbar">
                    <div class="navbar-inner"> 
                        <ul class="nav pull-left">
                              <% if(App.menu['9']) { %>
                                <li><a href="javascript:void(0)" class="backupLink"><%_Backup%></a></li>
                              <% } %>
                              <% if(App.menu['10']) { %>
                                <li><a href="javascript:void(0)" class="settings"><%_Settings%></a></li>
                              <% } %>
                               <li><a href="javascript:void(0)" class="license"><%_License%></a></li>
                            </ul>                      
                            <ul class="nav pull-right">
                                <% if(App.menu['28']) { %>
                                <li><a style="color:#000000;"><%_Select%>:</a></li>
                                <li><a href="javascript:void(0)" class="select-all"><%_All%></a></li>
                                <li><a href="javascript:void(0)" class="select-none"><%_None%></a></li>
                                <li><a href="javascript:void(0)" class="select-invert"><%_Invert%></a></li>
                                 <% } %> 
                                <li class="list-view">
                                    <a id="switch-list" class="switch-view no_padding " href="javascript:void(0);">
                                    <i class="icon-bar"></i>
                                    <i class="icon-bar"></i>
                                    <i class="icon-bar"></i>
                                    <i class="icon-bar"></i>
                                    </a>
                                </li>
                                <li class="list-view">
                                    <a id="switch-grid" class="switch-view no_padding hide_item" href="javascript:void(0);">
                                    <i class="icon-square"></i>
                                    <i class="icon-square"></i>
                                    <i class="icon-square"></i>
                                    <br />
                                    <i class="icon-square"></i>
                                    <i class="icon-square"></i>
                                    <i class="icon-square"></i>    
                                    <div class="clearfix"></div>
                                    </a>
                                </li>
                                 <% if(App.menu['30']) { %>
                                  <li><a href="javascript:void(0)" class="select-Refresh"style="width:41px;height:35px;padding-top:5px; "><img src="../../images/Refresh.png" style="margin-bottom:10px;"></a></li>
                                 <% } %> 
                            </ul>
                    </div>
                </div>
            
            </div><!-- page container -->
        </div><!-- row-fluid -->
    </div>
    <!-- END actions -->
    
    <!-- Page content -->
    <div class="container-fluid min_width">
        <div class="row-fluid">
            <div id="page" class="container">
                
                <table class="table table-data table-striped table-bordered" id="table-view">
                    <thead>
                        <tr>
                            <th><%_IP%></th>
                            <th><%_Port%></th>
                            <th><%_Type%></th>
                            <th><%_BaseDisk%></th>
                            <th><%_Export%></th>
                            <th><%_Storage%></th>
                        </tr>
                    </thead>
                    <tbody id="servers-container">
                         <!--Servers Elements come HERE -->
                    </tbody>
                </table>
                
            </div><!-- page container -->
        </div><!-- row-fluid -->
    </div>
    <!-- END Page content -->
    <div style="height: 120px;"></div>
    <!-- Boottom menu -->
    <!-- CRUD Actions -->
    <div id="bottom-navbar" class="navbar navbar-fixed-bottom bottom-navbar">
        <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                 <% if(App.menu['11']) { %>
                        <li><button class="add-server edge-margin"><i class="icon-white icon-plus"></i> <%_Create%></button></li>
                        <li class="divider-vertical"></li>
                     <% } %>   
                     <% if(App.menu['12']) { %>
                        <li><button class="edit-directory"> <%_Edit%></button></li>
                     <% } %>   
                     <% if(App.menu['13']) { %>
                        <li><button class="remove-server"> <%_Remove%></button></li>
                     <% } %>   
                     <% if(App.menu['14']) { %>
                        <li><button class="start-servers"><%_Start%></button></li>
                     <% } %>   
                     <% if(App.menu['15']) { %>
                       <li><button class="restart-servers"><%_Restart%></button></li>
                     <% } %>   
                     <% if(App.menu['16']) { %>
                        <li><button class="stop-server"><%_Stop%></button></li>
                     <% } %>   
                     <% if(App.menu['17']) { %>
                       <li><button class="bootrestart-server"><%_BootRestart%></button></li>
                     <% } %>
                     <li><button class="serverScriptExe"><%_ServerScriptExe%></button></li>
              </ul>
            </div>
        </div>
    </div><!-- CRUD Actions -->
    <!-- END Boottom menu -->
    
